<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-content>
        <h2>About</h2>

        <p>
          Lavras, Brazil it's a city with a big problem of abandoned animals. Be it dogs or cats, you see them all the
          time abandoned on the streets.<br/>
          With that in mind, me and a good friend decided to create a website where people can post a pet for adoption
          and hopefully someone will adopt it.<br/>
          The application went on air in 2015 and got over 100 adoptions and got featured in a couple of local news
          media.
        </p>
        <div>
          <ul>
            <li><a href="https://www.youtube.com/watch?v=zyHYEftfePE&feature=share" target="_blank">https://www.youtube.com/watch?v=zyHYEftfePE&feature=share</a>
            </li>
            <li><a
                href="http://www.lavras24horas.com.br/portal/alunos-da-ufla-criam-site-de-adocao-de-animais-em-lavras"
                target="_blank">http://www.lavras24horas.com.br/portal/alunos-da-ufla-criam-site-de-adocao-de-animais-em-lavras</a>
            </li>
            <li><a
                href="http://www.ufla.br/ascom/2015/11/12/estudantes-da-ufla-criam-site-para-facilitar-adocao-de-animais"
                target="_blank">http://www.ufla.br/ascom/2015/11/12/estudantes-da-ufla-criam-site-para-facilitar-adocao-de-animais</a>
            </li>
            <li><a href="http://www.jornaldelavras.com.br/index.php?p=10&tc=4&c=12269" target="_blank">http://www.jornaldelavras.com.br/index.php?p=10&tc=4&c=12269</a>
            </li>
          </ul>
        </div>

        <p>
          Back then it was developed in ASP.NET so this is my attempt to recreate it from scratch using technologies
          that I am currently using on my professional life:
        </p>
        <div>
          <ul>
            <li>Java 11</li>
            <li>Spring Boot</li>
            <li>Hibernate</li>
            <li>PostgreSQL</li>
            <li>Angular 8</li>
          </ul>
        </div>

        <p>
          Made with
          <mat-icon>favorite</mat-icon>
          by <a href="https://github.com/anibalribeiro" target="_blank">Aníbal Ribeiro</a>.
        </p>

      </mat-card-content>
    </mat-card>

  </div>
</div>
